body {
    font-family: Arial, sans-serif;
   background-image: url('/static/images/background.jpg');
    background-size: cover; /* Scale the background image to cover the entire viewport */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

    h1 {
            text-align: center;
            color: #007BFF;
}


form {
    text-align: center;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"] {
    width: 50%; /* Set the width to 50% of the page */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0;
}


input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
}





